@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <h1 class="display-4">Welcome</h1>
    @if (Program.User != null)
    {

        @Program.User.Login
    }
</div>
